trunk/openmodeller/src/soap/openModeller.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="openModeller"
 targetNamespace="http://openmodeller.cria.org.br/ws/1.0"
 xmlns:tns="http://openmodeller.cria.org.br/ws/1.0"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:om="http://openmodeller.cria.org.br/xml/1.0"
 xmlns:omws="http://openmodeller.cria.org.br/ws/1.0"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="http://openmodeller.cria.org.br/ws/1.0"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:om="http://openmodeller.cria.org.br/xml/1.0"
  xmlns:omws="http://openmodeller.cria.org.br/ws/1.0"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://openmodeller.cria.org.br/xml/1.0" schemaLocation="http://openmodeller.cria.org.br/xml/1.0/openModeller.xsd"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="Point">
   <complexContent>
    <restriction base="omws:soap-Point">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="PresencePoints">
   <complexContent>
    <restriction base="omws:soap-PresencePoints">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="AbsencePoints">
   <complexContent>
    <restriction base="omws:soap-AbsencePoints">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Points">
   <complexContent>
    <restriction base="omws:soap-Points">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Map">
   <complexContent>
    <restriction base="omws:soap-Map">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Maps">
   <complexContent>
    <restriction base="omws:soap-Maps">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Mask">
   <complexContent>
    <restriction base="omws:soap-Mask">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Parameter">
   <complexContent>
    <restriction base="omws:soap-Parameter">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Algorithm">
   <complexContent>
    <restriction base="omws:soap-Algorithm">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Output">
   <complexContent>
    <restriction base="omws:soap-Output">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="soap-Point">
   <sequence>
   </sequence>
     <attribute name="latitude" type="xsd:double" use="required"/>
     <attribute name="longitude" type="xsd:double" use="required"/>
  </complexType>
  <complexType name="soap-PresencePoints">
   <sequence>
     <element name="point" type="omws:Point" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
  </complexType>
  <complexType name="soap-AbsencePoints">
   <sequence>
     <element name="point" type="omws:Point" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
  </complexType>
  <complexType name="soap-Points">
   <sequence>
     <element name="coordsystem" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="presences" type="omws:PresencePoints" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="absences" type="omws:AbsencePoints" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <complexType name="soap-Map">
   <sequence>
   </sequence>
     <attribute name="location" type="xsd:string" use="optional"/>
     <attribute name="categorical" type="xsd:int" use="required"/>
  </complexType>
  <complexType name="soap-Maps">
   <sequence>
     <element name="map" type="omws:Map" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
  </complexType>
  <complexType name="soap-Mask">
   <sequence>
   </sequence>
     <attribute name="location" type="xsd:string" use="optional"/>
  </complexType>
  <complexType name="soap-Parameter">
   <sequence>
   </sequence>
     <attribute name="Id" type="xsd:string" use="optional"/>
     <attribute name="Value" type="xsd:string" use="optional"/>
  </complexType>
  <complexType name="soap-Algorithm">
   <sequence>
     <element name="parameter" type="omws:Parameter" minOccurs="0" maxOccurs="unbounded"/>
   </sequence>
     <attribute name="Id" type="xsd:string" use="optional"/>
  </complexType>
  <complexType name="soap-Output">
   <sequence>
     <element name="header" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="scale" type="xsd:int" minOccurs="1" maxOccurs="1"/>
     <element name="format" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>
  <element name="version" type="xsd:string"/>
  <!-- operation request element -->
  <element name="ping">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="pingResponse">
   <complexType>
    <sequence>
     <element name="status" type="xsd:int" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getAlgorithms">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getAlgorithmsResponse">
   <complexType>
    <sequence>
     <element ref="om:AvailableAlgorithms" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLayers">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLayersResponse">
   <complexType>
    <sequence>
     <element ref="om:AvailableLayers" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="createModel">
   <complexType>
    <sequence>
     <element name="points" type="omws:Points" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="maps" type="omws:Maps" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="mask" type="omws:Mask" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="algorithm" type="omws:Algorithm" minOccurs="0" maxOccurs="1" nillable="true"/>
     <element name="output" type="omws:Output" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="createModelResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getDistributionMap">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getDistributionMapResponse">
   <complexType>
    <sequence>
     <element name="file" type="xsd:base64Binary" minOccurs="1" maxOccurs="1"/>
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="pingRequest">
 <part name="parameters" element="omws:ping"/>
</message>

<message name="pingResponse">
 <part name="parameters" element="omws:pingResponse"/>
</message>

<message name="getAlgorithms">
 <part name="parameters" element="omws:getAlgorithms"/>
</message>

<message name="getAlgorithmsResponse">
 <part name="parameters" element="omws:getAlgorithmsResponse"/>
</message>

<message name="getLayers">
 <part name="parameters" element="omws:getLayers"/>
</message>

<message name="getLayersResponse">
 <part name="parameters" element="omws:getLayersResponse"/>
</message>

<message name="createModelRequest">
 <part name="parameters" element="omws:createModel"/>
</message>

<message name="createModelResponse">
 <part name="parameters" element="omws:createModelResponse"/>
</message>

<message name="getDistributionMapRequest">
 <part name="parameters" element="omws:getDistributionMap"/>
</message>

<message name="getDistributionMapResponse">
 <part name="parameters" element="omws:getDistributionMapResponse"/>
</message>

<message name="openModellerHeader">
 <part name="version" element="omws:version"/>
</message>

<portType name="openModellerPortType">
 <operation name="ping">
  <documentation>Simple method to monitor service availability.</documentation>
  <input message="tns:pingRequest"/>
  <output message="tns:pingResponse"/>
 </operation>
 <operation name="getAlgorithms">
  <documentation>Returns metadata about all available algorithms.</documentation>
  <input message="tns:getAlgorithms"/>
  <output message="tns:getAlgorithmsResponse"/>
 </operation>
 <operation name="getLayers">
  <documentation>Returns all available layers on the server side.</documentation>
  <input message="tns:getLayers"/>
  <output message="tns:getLayersResponse"/>
 </operation>
 <operation name="createModel">
  <documentation>Service definition of function omws__createModel</documentation>
  <input message="tns:createModelRequest"/>
  <output message="tns:createModelResponse"/>
 </operation>
 <operation name="getDistributionMap">
  <documentation>Service definition of function omws__getDistributionMap</documentation>
  <input message="tns:getDistributionMapRequest"/>
  <output message="tns:getDistributionMapResponse"/>
 </operation>
</portType>

<binding name="openModeller" type="tns:openModellerPortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="ping">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getAlgorithms">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getLayers">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="createModel">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
 <operation name="getDistributionMap">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="parameters" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="parameters" use="literal"/>
  </output>
 </operation>
</binding>

<service name="openModeller">
 <documentation>Web Services interface for remote invocation of openModeller</documentation>
 <port name="openModeller" binding="tns:openModeller">
  <SOAP:address location="http://localhost:8085"/>
 </port>
</service>

</definitions>
