trunk/openmodeller/src/soap/2.0/omws.xsd

<?xml version="1.0" encoding="UTF-8"?>
 <schema targetNamespace="http://openmodeller.cria.org.br/ws/2.0"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:om="http://openmodeller.cria.org.br/xml/2.0"
  xmlns:omws="http://openmodeller.cria.org.br/ws/2.0"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://openmodeller.cria.org.br/xml/2.0" schemaLocation="http://openmodeller.cria.org.br/xml/2.0/openModeller.xsd"/>
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="createModel"><!-- omws__createModel -->

   <sequence>
     <element ref="om:ModelParameters" minOccurs="0" maxOccurs="1"/><!-- omws__createModel::om__ModelParameters -->
   </sequence>
  </complexType>
  <complexType name="testModel"><!-- omws__testModel -->

   <sequence>
     <element ref="om:TestParameters" minOccurs="0" maxOccurs="1"/><!-- omws__testModel::om__TestParameters -->
   </sequence>
  </complexType>
  <complexType name="projectModel"><!-- omws__projectModel -->

   <sequence>
     <element ref="om:ProjectionParameters" minOccurs="0" maxOccurs="1"/><!-- omws__projectModel::om__ProjectionParameters -->
   </sequence>
  </complexType>
  <complexType name="evaluateModel"><!-- omws__evaluateModel -->

   <sequence>
     <element ref="om:ModelEvaluationParameters" minOccurs="0" maxOccurs="1"/><!-- omws__evaluateModel::om__ModelEvaluationParameters -->
   </sequence>
  </complexType>
  <complexType name="samplePoints"><!-- omws__samplePoints -->

   <sequence>
     <element ref="om:SamplingParameters" minOccurs="0" maxOccurs="1"/><!-- omws__samplePoints::om__SamplingParameters -->
   </sequence>
  </complexType>
  <complexType name="runExperiment"><!-- omws__runExperiment -->

   <sequence>
     <element ref="om:ExperimentParameters" minOccurs="0" maxOccurs="1"/><!-- omws__runExperiment::om__ExperimentParameters -->
   </sequence>
  </complexType>
  <element name="version" type="xsd:string"/>
  <!-- operation request element -->
  <element name="ping">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="pingResponse">
   <complexType>
    <sequence>
     <element name="status" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- omws__ping::status -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getAlgorithms">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getAlgorithmsResponse">
   <complexType>
    <sequence>
     <element ref="om:AvailableAlgorithms" minOccurs="0" maxOccurs="1"/><!-- omws__getAlgorithmsResponse::om__AvailableAlgorithms -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLayers">
   <complexType>
    <sequence>
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLayersResponse">
   <complexType>
    <sequence>
     <element ref="om:AvailableLayers" minOccurs="0" maxOccurs="1"/><!-- omws__getLayersResponse::om__AvailableLayers -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="createModel">
   <complexType>
    <sequence>
     <element ref="om:ModelParameters" minOccurs="0" maxOccurs="1"/><!-- omws__createModel::om__ModelParameters -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="createModelResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__createModel::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getModel">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getModel::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getModelResponse">
   <complexType>
    <sequence>
     <element ref="om:ModelEnvelope" minOccurs="0" maxOccurs="1"/><!-- omws__getModelResponse::om__ModelEnvelope -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="testModel">
   <complexType>
    <sequence>
     <element ref="om:TestParameters" minOccurs="0" maxOccurs="1"/><!-- omws__testModel::om__TestParameters -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="testModelResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__testModel::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getTestResult">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getTestResult::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="testResponse">
   <complexType>
    <sequence>
     <element ref="om:TestResultEnvelope" minOccurs="0" maxOccurs="1"/><!-- omws__testResponse::om__TestResultEnvelope -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="projectModel">
   <complexType>
    <sequence>
     <element ref="om:ProjectionParameters" minOccurs="0" maxOccurs="1"/><!-- omws__projectModel::om__ProjectionParameters -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="projectModelResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__projectModel::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getProgress">
   <complexType>
    <sequence>
     <element name="tickets" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getProgress::tickets -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getProgressResponse">
   <complexType>
    <sequence>
     <element name="progress" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__getProgress::progress -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLog">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getLog::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLogResponse">
   <complexType>
    <sequence>
     <element name="log" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__getLog::log -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getLayerAsUrl">
   <complexType>
    <sequence>
     <element name="id" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getLayerAsUrl::id -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getLayerAsUrlResponse">
   <complexType>
    <sequence>
     <element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__getLayerAsUrl::url -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getProjectionMetadata">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getProjectionMetadata::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getProjectionMetadataResponse">
   <complexType>
    <sequence>
     <element ref="om:ProjectionEnvelope" minOccurs="0" maxOccurs="1"/><!-- omws__getProjectionMetadataResponse::om__ProjectionEnvelope -->
    </sequence>
     <attribute name="FileSize" type="xsd:int" use="required"/><!-- omws__getProjectionMetadataResponse::FileSize -->
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="evaluateModel">
   <complexType>
    <sequence>
     <element ref="om:ModelEvaluationParameters" minOccurs="0" maxOccurs="1"/><!-- omws__evaluateModel::om__ModelEvaluationParameters -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="evaluateModelResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__evaluateModel::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getModelEvaluation">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getModelEvaluation::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="modelEvaluationResponse">
   <complexType>
    <sequence>
     <element ref="om:ModelEvaluation" minOccurs="0" maxOccurs="1"/><!-- omws__modelEvaluationResponse::om__ModelEvaluation -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="samplePoints">
   <complexType>
    <sequence>
     <element ref="om:SamplingParameters" minOccurs="0" maxOccurs="1"/><!-- omws__samplePoints::om__SamplingParameters -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="samplePointsResponse">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__samplePoints::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getSamplingResult">
   <complexType>
    <sequence>
     <element name="ticket" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getSamplingResult::ticket -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getSamplingResultResponse">
   <complexType>
    <sequence>
     <element ref="om:SamplingResult" minOccurs="0" maxOccurs="1"/><!-- omws__getSamplingResultResponse::om__SamplingResult -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="runExperiment">
   <complexType>
    <sequence>
     <element ref="om:ExperimentParameters" minOccurs="0" maxOccurs="1"/><!-- omws__runExperiment::om__ExperimentParameters -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="runExperimentResponse">
   <complexType>
    <sequence>
     <element ref="om:ExperimentTickets" minOccurs="0" maxOccurs="1"/><!-- omws__runExperimentResponse::om__ExperimentTickets -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="getResults">
   <complexType>
    <sequence>
     <element name="tickets" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__getResults::tickets -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="getResultsResponse">
   <complexType>
    <sequence>
     <element ref="om:ResultSet" minOccurs="0" maxOccurs="1"/><!-- omws__getResultsResponse::om__ResultSet -->
    </sequence>
   </complexType>
  </element>
  <!-- operation request element -->
  <element name="cancel">
   <complexType>
    <sequence>
     <element name="tickets" type="xsd:string" minOccurs="0" maxOccurs="1" nillable="true"/><!-- omws__cancel::tickets -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="cancelResponse">
   <complexType>
    <sequence>
     <element name="cancelledTickets" type="xsd:string" minOccurs="1" maxOccurs="1"/><!-- omws__cancel::cancelledTickets -->
    </sequence>
   </complexType>
  </element>
 </schema>

