src/soap/om.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/* om
   Generated by gSOAP 2.5.2 from om_soap.hh
   Copyright (C) 2001-2004 Genivia, Inc. All Rights Reserved.
   This software is released under the gSOAP public license and GPL.
   See README.txt for further details.
*/-->
 <schema targetNamespace="http://openmodeller.sf.net/ns/1.0"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:om="http://openmodeller.sf.net/ns/1.0"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="AlgorithmParameter">
   <complexContent>
    <restriction base="om:soap-AlgorithmParameter">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="AlgorithmMetadata">
   <complexContent>
    <restriction base="om:soap-AlgorithmMetadata">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Algorithms">
   <complexContent>
    <restriction base="om:soap-Algorithms">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Point">
   <complexContent>
    <restriction base="om:soap-Point">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="PresencePoints">
   <complexContent>
    <restriction base="om:soap-PresencePoints">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="AbsencePoints">
   <complexContent>
    <restriction base="om:soap-AbsencePoints">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Points">
   <complexContent>
    <restriction base="om:soap-Points">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Map">
   <complexContent>
    <restriction base="om:soap-Map">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Maps">
   <complexContent>
    <restriction base="om:soap-Maps">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Mask">
   <complexContent>
    <restriction base="om:soap-Mask">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Parameter">
   <complexContent>
    <restriction base="om:soap-Parameter">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Algorithm">
   <complexContent>
    <restriction base="om:soap-Algorithm">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="Output">
   <complexContent>
    <restriction base="om:soap-Output">
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="getAlgorithmsResponse">
   <sequence>
    <element name="return" type="om:Algorithms" minOccurs="1" maxOccurs="1"/>
   </sequence>
  </complexType>
  <element name="version" type="xsd:string"/>
  <element name="return" type="om:Algorithms"/>
  <element name="points" type="om:Points"/>
  <element name="maps" type="om:Maps"/>
  <element name="mask" type="om:Mask"/>
  <element name="algorithm" type="om:Algorithm"/>
  <element name="output" type="om:Output"/>
  <element name="ticket" type="xsd:string"/>
  <element name="file" type="xsd:base64Binary"/>
  <element name="status" type="xsd:int"/>
 </schema>

